/**Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&family=Source+Sans+3:ital,wght@0,400;0,600;1,400&display=swap');
/**VARIABLES GLOBALES (:root)*/
:root {
    /**Paleta de Colores Primarios*/
    --color-primary: #5D38BB; /* Botón primario y acento base */
    --color-brand-dark: #16094C; /* Títulos principales, bordes seleccionados */
    /**Paleta de Colores Secundarios / Superficies*/
    --color-secondary-bg: rgba(161, 147, 204, 0.7);
    --color-secondary-hover: rgba(161, 147, 204, 0.9);
    --color-surface-selected: #F5F3FF; /* Fondo de tarjetas/items seleccionados */
    /**Fondos y Capas (Backgrounds)*/
    --bg-main: #F7F7F7; /* Fondo de la ventana*/
    --bg-card: #FFFFFF; /* Fondo de tarjetas y contenedores */
    /**Tipografía y Texto*/
    --font-family-heading: 'Manrope', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    --font-family-body: 'Source Sans 3', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    --text-main: #0E042F; /* Texto base de alto contraste */
    --text-description: #46315c; /* Textos descriptivos */
    --text-light: #F7F7F7; /* Texto sobre fondos oscuros */
    /**Bordes y Separadores*/
    --border-light: #E0E0E0; /* Tarjeta base */
    --radius-md: 10px; /* Botones / Tarjetas */
    /**Sombras*/
    --shadow-card: 0 2px 8px rgba(22, 9, 76, 0.06);
    --shadow-hover: 0 4px 12px rgba(22, 9, 76, 0.12);
}